.animsec {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 4px;
  box-shadow: 0px 10px 50px -10px rgba(0, 0, 0, 0.2);
  border: 10px solid white;
  width: 100%;
}

.carousel {
  position: relative;
  flex: 1;
}

.carousel__slides {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 450px;
}

.carousel__slide {
  min-width: 100%;
  transition: transform 0.5s ease;
  display: none;
}

.carousel__slide.active {
  display: block;
}

.carousel__thumbnails {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel__thumbnails li {
  cursor: pointer;
  padding: 3px;
}

.carousel__thumbnails img {
  width: 262px;
  height: 150px;
  opacity: 0.5;
}

.carousel__thumbnails img.active {
  opacity: 1;
}

.text {
  width: 100%;
  max-width: 800px;
  padding: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
  background-color: white;
  color: #262626;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.text div figure figcaption {
  padding-left: 10px;
  padding-right: 10px;
}

.title {
  font-size: 20px;
  text-transform: uppercase;
  background-color: #ebedf0;
  color: #262626;
  font-weight: 500;
  padding-top: 10px;
}

.skills {
  font-size: 18px;
  background-color: #ebedf0;
  color: #262626;
  padding-bottom: 10px;
}

.link {
  margin-top: auto;
  align-self: flex-end;
}

.link a {
  color: #5190f5;
  text-decoration: none;
  float: right;
  padding-right: 45px;
}

.slide-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}

.slide-image {
  object-fit: cover;
}

.slide-image:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* Media Queries */
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .carousel__slides {
    width: 100%;
  }

  .text {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .carousel__slides {
    width: 100%;
    max-width: 800px !important;
    max-height: 450px;
  }

  .anim_width {
    width: 100% !important;
    height: auto !important;
  }
}

@media (max-width: 599px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .carousel__slides {
    width: 100%;
    max-width: 100% !important;
    max-height: 100%;
  }

  .text {
    width: 100%;
    padding-top: 20px;
    height: auto;
  }

  .anim_width {
    width: 100% !important;
    height: auto !important;
  }

  .carousel__thumbnails img {
    width: 100px;
    height: 60px;
  }
}
