.container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px; /* Add some padding to space out elements */
  box-shadow: 10px 10px 10px #ebedf0;
  margin: 10px;
  width: 100%;
  height: auto;
}

.video-container {
  width: 800px;
  position: relative; /* Relative positioning to allow content alignment */
}

.text-container {
  flex: 1;
}

.anim_slide {
  width: 100%; /* Ensure the video scales with its container */
  height: auto; /* Maintain aspect ratio */
}

.titleAndSkills {
  background-color: #ebedf0;
  color: #262626;
}

.animationSkills {
  padding-bottom: 10px;
  padding-left: 30px;
}

.animationInstruction {
  padding-bottom: 10px;
  padding-left: 40px;
  font-style: italic;
  font-size: 17px;
  color: #262626;
}

.animationTitle {
  padding-top: 10px;
  font-size: 25px;
  padding: 5px;
  padding-left: 30px;
  text-transform: uppercase;
}

.animationDetail {
  padding-left: 50px;
}

.link {
  margin-top: auto;
  align-self: flex-end;
  text-transform: uppercase;
  padding: 5px;
  padding-left: 40px;
  width: 100%;
}

.link a {
  color: inherit;
  text-decoration: none;
  color: #5190f5;
  float: left;
  padding: 10px;
  border: 1px solid #5190f5;
  border-radius: 20px;
  background-color: white;
}

.link a:hover {
  color: inherit;
  text-decoration: none;
  color:white;
  float: left;
  padding: 10px;
  border: 1px solid  #b78a80;
  border-radius: 20px;
  background-color: #b78a80;
  transition: color 0.3s ease-in-out, z-index 0s ease 0s; 
  transition: background-color 0.3s ease-in-out, z-index 0s ease 0s; 
}

.animationStillImages {
  padding-left: 40px;
  flex: 1;
}

.slideImg {
  opacity: 1;
  width: auto;
  height: 85px;
  z-index: 10;
  transform: scale(0.9);
  border: 5px solid white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);;
  border-radius: 4px;
}

.slideImg:hover {
  width: auto;
  height: 85px;
  cursor: pointer;
  transform: scale(1.0);
  z-index: 20;
  transition: transform 0.3s ease-in-out, z-index 0s ease 0s; 
}

.animsec {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap; /* Allows content to wrap to the next line if there's not enough space */
  justify-content: space-between; /* Adjust as needed to add spacing between items */
  flex-direction: column;
}

/* mobile */
@media (max-width: 599px) {
  .animsec {
    padding-top: 180px;
    display: flex;
    flex-wrap: wrap; /* Allows content to wrap to the next line if there's not enough space */
    justify-content: space-between; /* Adjust as needed to add spacing between items */
    flex-direction: column;
  }
}