@font-face {
  font-family: 'NatashaFont';
  src: url('../assets/fonts/Natashafont-Regular.woff') format('woff');
}

@font-face {
  font-family: 'PeachBlossom';
  src: url('../assets/fonts/PeachBlossom.ttf') format('truetype');
}
  
.contact-grid {
  display: flex; /* Create a grid layout */
  gap: 50px; /* Space between the grid cells */
  padding-top: 100px;
  align-items: center; /* Align items vertically in the center */
  background-color: #b78a80;
  height: 100vh;
}

.contact-icon {
  width: auto;
  max-width: 30%; /* Limit the image width */
  height: auto;
  margin-left: 15%;
}

.contact-content {
  display: flex; /* Create a flex container for the content */
  flex-direction: column; /* Stack content vertically */
  gap: 10px; /* Space between the elements */
}

.thankyou {
  font-family: 'PeachBlossom';
  font-size: 2.5rem;
  font-weight: bold;
  color: #3b3b3b;
}

.contact_text {
  font-size: 2.3rem;
  font-family: 'NatashaFont';
  color: #f2c9bf;
  padding: 2px;
}

.links {
  font-size: 2rem;
  font-family: 'NatashaFont';
  display: flex; /* Display icons in a row */
  gap: 10px; /* Space between icons */
  text-decoration: none !important;
}

.links:hover {
  font-size: 2rem;
  font-family: 'NatashaFont';
  display: flex; /* Display icons in a row */
  gap: 10px; /* Space between icons */
  text-decoration: none !important;
}

.links a {
  text-decoration: none !important;
  color: white !important;
  transition: color 0.2s ease-in-out, z-index 0s ease 0s; 
}

.links a:hover {
  text-decoration: none !important;
  color: #f2c9bf !important;
}

.links a .linkDescrip {
  padding: 5px;
  text-decoration: none !important;
  vertical-align: bottom !important;
}
