.contactPageMobile {
    gap: 50px; /* Space between the grid cells */
    align-items: center; /* Align items vertically in the center */
    background-color: #b78a80;
    height: 100vh;
    justify-content: center;
  }

  .contact-icon-mobile {
    width: auto;
    max-width: 80%; /* Limit the image width */
    height: auto;
  }

  .contact-content-mobile {
    padding-top: 100px;
  }


.thankyou-mobile {
  font-family: 'PeachBlossom';
  font-size: 2.0rem;
  font-weight: bold;
  color: #3b3b3b;
  justify-content: center;
  align-items: center;
  padding-left: 30px !important;
}

.contact_text-mobile {
  font-size: 2.0rem;
  font-family: 'NatashaFont';
  color: #f2c9bf;
  padding: 2px;
  justify-content: center;
  align-items: center;
  padding-left: 30px !important;
}

.links-mobile {
  font-size: 1.5rem;
  font-family: 'NatashaFont';
  display: flex; /* Display icons in a row */
  gap: 10px; /* Space between icons */
  text-decoration: none !important;
  padding-left: 30px !important;
}

.links-mobile a {
  text-decoration: none !important;
  color: white !important;
  transition: color 0.2s ease-in-out, z-index 0s ease 0s; 
}

.links-mobile a .linkDescrip-mobile {
  padding: 5px;
  text-decoration: none !important;
  vertical-align: bottom !important;
}