.contactPageMobile {
    background-color: #b78a80;
    height: 100vh;
  }

  .contact-content-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 155px;
    gap: 4px;
  }

  .contact-icon-mobile {
    width: auto;
    max-width: 70%;
    height: auto;
  }

.thankyou-mobile {
  font-family: 'PeachBlossom';
  font-size: 2.0rem;
  font-weight: bold;
  color: #3b3b3b;
  text-align: center;
}

.contact_text-mobile {
  font-size: 2.0rem;
  font-family: 'NatashaFont';
  color: #f2c9bf;
  text-align: center;
}

.links-mobile {
  font-size: 20px;
  font-family: 'NatashaFont';
  display: flex;
  gap: 10px;
  text-decoration: none !important;
  justify-content: center;
}

.links-mobile a {
  text-decoration: none !important;
  color: white !important;
  transition: color 0.2s ease-in-out, z-index 0s ease 0s; 
}

.links-mobile a .linkDescrip-mobile {
  padding: 5px;
  text-decoration: none !important;
  vertical-align: bottom !important;
}