@font-face {
    font-family: 'NatashaFont';
    src: url('../fonts/Natashafont-Regular.woff') format('woff');
}

.dropdown-page {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2c9bf;   
}

.select {
    color: #333333;
    inline-size: 25%;
    font-size: 14px;
    border: none !important;
  }

.select:hover {
    border: none !important;
}

@media (min-width: 600px) and (max-width: 1499px) {
    .select {
        padding-top: 90px;
        width: 50%;
    }
  }
  
  /* mobile */
  @media (max-width: 599px) {
    .select {
        padding-top: 110px;
        width: 50%;
    }
  }
    