@font-face {
    font-family: 'NatashaFont';
    src: url('../fonts/Natashafont-Regular.woff') format('woff');
}

.hello {
    padding: 40px;
}

.threepage {
}

.home2-page {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cb9f95;
    background-color: #4d3c3e;
}

.detail {
    color: #cb9f95 !important;
    text-align: left !important;
}

.vl {
    border-left: 5px solid #cb9f95;
    border-left-style: double;
  }

/* desktop */
@media (min-width: 1000px) and (max-width: 1500px) {
    .hello {
        padding: 40px;
    }

    .home2-page {
        font-size: 60px !important;
        height: 370px;
    }

    .detail {
        font-size: 40px !important;
        width: 600px !important;
    }

    .vl {
        height: 300px;
        padding: 30px !important;
    }

    .heading {
        font-size: 20px !important;
        padding: 6px;
    }
    
    .info {
        font-size: 18px !important;
        padding: 4px !important;
    }
}

@media (min-width: 600px) and (max-width: 1499px) {
    .hello {
        padding: 20px;
    }

    .home2-page {
        font-size: 40px !important;
        height: 500px;
        margin-top: 0px !important;
    }

    .detail {
        font-size: 25px !important;
        width: 500px !important;
    }

    .vl {
        height: 260px;
        padding: 15px !important;
    }

    .heading {
        font-size: 18px !important;
        padding: 5px;
    }
    
    .info {
        font-size: 16px !important;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
  }

/* mobile */
@media (max-width: 599px) {
    .hello {
        padding: 20px;
    }

    .home2-page {
        font-size: 40px !important;
        height: 340px;
        margin-top: -30px !important;
    }

    .detail {
        font-size: 25px !important;
        width: 400px !important;
    }

    .vl {
        height: 260px;
        padding: 15px !important;
    }

    .heading {
        font-size: 14px !important;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    
    .info {
        font-size: 8px !important;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
}