.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 30px;
  }
  
  .modal-content {
    border-radius: 8px;
    position: relative;
    max-width: 90%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content.custom-size {
    overflow: hidden;
  }
  
  .close-button {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 22px;
    cursor: pointer;
    color: #b78a80;
    background-color: white;
    border-radius: 100%; 
    width: 35px; 
    height: 35px;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    font-weight: bold;
    line-height: 0 !important;
    text-align: center !important;
  }

  .close-button:hover {
    background-color:  #b78a80;
    color: white;
  }
  
  .modal-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
    object-fit: contain;
  }
  