  @font-face {
    font-family: 'NatashaFont';
    src: url('../assets/fonts/Natashafont-Regular.woff') format('woff');
  }
  
  .menu-bar {
    background-color: #b78a80;
    font-family: 'NatashaFont';
    font-size: 25px;
    z-index: 10000;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100% !important;
  }

  .menu-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu-bar ul li {
    display: inline-block;
    vertical-align: middle;
  }
  
  .menu-bar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu-bar ul li a:hover {
    background-color: #4d3c3e;
  }

  ul a {
    color: white; /* Preserve the original color of the icon */
    text-decoration: none; /* Remove underline */
    padding-right: 14px;
    padding-top: 10px;
    float: right;
  }

  /* desktop */
@media (min-width: 1000px) and (max-width: 1500px) {
  .home-icon {
    width: 50px;
    height: 45px;
    vertical-align: middle !important;
    transition: transform 0.6s;
  }
 
  .home-icon:hover {
    transform: rotateY(180deg);
  }
}

@media (min-width: 600px) and (max-width: 1499px) {
  .home-icon {
    width: 45px;
    height: 40px;
    vertical-align: middle !important;
  }
}

/* mobile */
@media (max-width: 599px) {
  .home-icon {
    width: 45px;
    height: 40px;
    vertical-align: middle !important;
  }
}